* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: 'Lato Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 5px;
  margin: 0 auto;
  width: 918px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.parent {
  display: flex;
  justify-content: space-between;
  width: 930px;
  margin: 0 auto;
}
.users {
  width: 30%;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  color: #4f4f4f;
}
span {
  font-weight: bold;
  font-size: 14px;
  color: #4f4f4f;
  font-weight: bold;
}

p {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 4px;
}
p:hover {
  cursor: pointer;
}

.details {
  width: 55%;
  font-size: 18px;
  padding: 8px;
  height: 450px;
}
ul {
  list-style: none;
  border: 1px solid #d3d3d3;
  width: 635px;
  height: 170px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
li {
  padding: 5px;
  font-size: 13px;
  color: #4f4f4f;
}

img {
  margin: 10px 0px;
}

/* .hidden {
  display: none;
} */

.loading {
  font-size: 25px;
}
.error {
  font-size: 25px;
  color: #cd0046;
}
